body{
	background: #222;
	font-family: arial;

}

.paper-landscape{
	width: 1000px;
	height: 640px;
	background: #fff;
	box-shadow: 0px 0px 3px #000;
	margin: auto;
	/*position: absolute;*/
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin-top: 30px;
}

.paper-landscape-f4{
	width: 1247px;
	height: 793px;
	background: #fff;
	box-shadow: 0px 0px 3px #000;
	margin: auto;
	/*position: absolute;*/
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin-top: 30px;
}


.paper-potrait{
	width: 700px;
	height: 1040px;
	background: #fff;
	box-shadow: 0px 0px 3px #000;
	margin: auto;
	/*position: absolute;*/
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin-top: 50px;
}

.paper-content-potrait{
	width: 700px;
	height: 1000px;
	
}

.paper-content{
	width: 1000px;
	height: 700px;
	
}

.paper-content-f4{
	width: 1247px;
	height: 793px;
	
}

.print{
	width: 60px;
	height: 60px;
	background: url('../image/print.png')no-repeat #fff;
	background-size: 40px;
	position: fixed;
	left: 94%;
	top: 20px;
	border-radius: 50%;
	background-position: center;
	cursor: pointer;
	box-shadow: 0px 0px 4px #000
}

.print:hover{
	border: 2px solid #3fc3df;
	width: 56px;
	height: 56px;
}