

/*STYLE DAFTAR 01 - DEPAN*/

.half-paper{
	width:500px;
	height: 700px;
	float: left;
	/*background: red*/
}

.ui-header-doc{
	width: 500px;
	height: 175px;
	float: left;
	margin-bottom: 30px;

}

.ui-h-logo{
	width: 100px;
	height: 175px;
	float: left;
	font-size: 11px;
}

.ui-h-logo table {
	height: 175px
}

.ui-h-logo table tr:nth-child(2) td{
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;

}


.ui-h-logo table tr:nth-child(3) td{
	text-align: center;
}

.ui-h-logo table tr:nth-child(4) td{
	font-weight: bold;
	font-style: italic;
	text-align: center;
}


.ui-inf-head{
	width: 400px;
	height: 15px;
	float: left;
	font-size: 11px
}

.ui-inf-head table{
	width: 98%;
	float: left;
	margin-left: 20px;

}
.ui-inf-head table:nth-child(1){
	font-weight: bold;
	text-transform: uppercase;
}

.ui-block{
	width: auto;
	height: 13px;
	border: 1px solid #000;
	display: inline-block;

}

.ui-block-chld{
	width: auto;
	height: 13px;
	padding-left: 5px;
	padding-right: 5px;
	border-right: 1px solid #000;
	float: left;
	line-height: 13px;
}

.ui-block-chld:last-child{
	border-right: 0
}

.ui-bl-active{
	background: #dadada
}

.ui-main-table{
	width: 500px;
	float: left;
}

.ui-main-table table.main-tbl{
	width: 100%;
	font-size: 10px;
	border-collapse: collapse;
	border: 1px solid #000;
	text-align: center;
	float: left;
	margin-top: -1px;
	

}

.ui-main-table table.main-tbl td,.ui-main-table table.main-tbl tr,.ui-main-table table.main-tbl th{
	border: 1px solid #000;
	padding: 1.2px;
}

.ui-main-table table tr td:first-child{
	text-align: left;
}

.rotate-bl{
	width: auto;
	height: 15px;
	transform: rotate(-90deg);
	margin-top: 10px;
	margin-bottom: 10px;
}


.rotate-bll{
	width: 15px;
	text-overflow: ellipsis;
	white-space: nowrap;
	transform: rotate(-90deg);
	/*margin-top: 10px;*/
	position: relative;
	bottom: -35px;
	text-align: center;
	/*display: inline-block;*/
}
.box-absen{
	width: 100%;
	height: 100%;
	float: left;
}

.box-strip{
	width: 100%;
	height: 15px;
	float: left;
	
}

.la-col{
	width: auto;
	height: 15px;
	float: left;
	margin-right: 2px;
}

.la-col:first-child{
	width: 30px;
	text-align: left;
}

.la-col:nth-child(2),.la-col:nth-child(4){
	width: 20px;
}

.la-colm{
	width: 60px;
	height: 15px;
	float: left;
	margin-right: 2px;
}

/*STYLE 01 - DAFTAR BELAKANG*/

table.main-backtable{
	border-collapse: collapse;
	border: 1px solid #000;
	font-size: 11px;
	width: 1000px;
}

table.main-backtable tr, table.main-backtable td,table.main-backtable th{
	border: 1px solid #000;
}

table.main-backtable tr:nth-child(3){
	text-align: center;
}

table.main-backtable tr:nth-child(1){
	text-align: center;
}

table.main-backtable tr:nth-child(2){
	text-align: center;
}

.assignment{
	float: left;
	width: 100%;
	font-size: 12px;
	text-align: center;
	margin-top: 20px;
}

.assignment tr:nth-child(4),.assignment tr:nth-child(5){
	font-weight: bold;
}

/*==================================================== MUTASI SISWA START*/

.doc-2-header{
	width: 100%;
	height: 100px;
	font-family: Times New Roman;
	border-bottom: 2px solid #222;
	float: left;
}
.doc-2-header table {
	width: 100%;
	height: 60px;
	border-collapse: collapse;
}
.doc-2-header table tr:nth-child(1){
	text-align: center;
	font-weight: bold;
	font-size: 14pt;
}

.doc-2-header img{
	text-align: center;
	margin-top: -10px;
	height: 100px;
	width: 650px;
	margin-left: 25px;
}

.doc-2-header table tr:nth-child(2){
	text-align: center;
	font-weight: bold;
	font-size: 18pt
}

.doc-2-header table tr:nth-child(3){
	text-align: center;
}

.letter-doc{
	width: 100%;
	font-size: 12pt;
	font-family: Times New Roman;
	float: left;
}

.letter-mutasi{
	width: 600px;
	font-size: 12pt;
	font-family: Times New Roman;
	float: left;
	margin-left: 40px;
	text-align: justify;
	line-height: 15pt;
	margin-top: 20px
}

.letter-smutasi{
	font-size: 12pt;
	font-family: Times New Roman;
	float: left;
	width: 500px;
	margin-left: 140px;
	margin-top: 5px;
	line-height: 15pt;

}

.mutasi-assign{
	font-size: 11pt;
	font-family: Times New Roman;
	float: right;
	text-align: center;
}

.mutasi-assign tr:nth-child(6),.mutasi-assign tr:nth-child(7){
	font-weight: bold;
}

.tembusan-mutasi{
	width: 100%;
	height: 40px;
	float: left;
	font-size: 11pt;
	font-family: Times New Roman;
	margin-top: 30px
}

/*SURAT KELAKUAN BAIK START ===============================================*/

.skb-header{
	width: 100%;
	height: 115px;
	border-bottom: 2px solid #222;
	float: left;
	font-family: Times New Roman
}

.skb-header img{
	width: 650px;
	height: 100px;
	margin-left: 25px;
}
.skb-header table{
	font-size: 12pt;
	text-align: center;
	font-weight: bold;
	/*width: 100%;*/
	border-collapse: collapse;
	line-height: 15px;
	letter-spacing: 1px;
}

.skb-header tr:nth-child(4){
	font-size: 11px;
	font-weight: normal;
}

.skb-header tr:nth-child(5){
	font-size: 11px;
	font-weight: normal;
	font-style: italic;	
}

.skb-content{
	font-family: Times New Roman;
	font-size: 12pt;
	float: left;

}

.skb-content h3{
	text-align: center;
	margin:0;
}

.skb-content h6{
	text-align: center;
	font-size: 12pt;
	font-weight: normal;
	margin:0;

}


.skb-content p{
	width: 680px;
	margin-left: 10px;
	line-height: 20px;
	text-align: justify;
}

.skb-content table{
	margin-left: 10px
}

/*=========================== surat keterangan siswa start*/

.sks-header{
	width: 100%;
	height: 140px;
	float: left;
	
}

.sks-header table{
	text-align: center;
	width: 100%;
	letter-spacing: 1px;
	font-family: Times New ROman
}

.sks-header table tr:last-child td{
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	font-size: 11px;
}

.sks-content{
	width: 700px;
	font-size: 12pt;
	font-family: Times New Roman;
	float: left;
}

.sks-content h3{
	margin: 0;
	text-align: center;
}

.sks-content h6{
	text-align: center;
	font-weight: normal;
	margin: 0;
	font-size: 12pt
}

.sks-content p{
	width: 650px;
	line-height: 20px;
	text-align: justify;
	margin-left: 10px;
}

.sks-content table{
	line-height: 20px;
}

/*======================= SKKI START*/

.skki-header{
	width: 100%;
	height: 120px;
	float: left;
	font-size: 11pt;
	border-bottom: 2px solid #000
	
}

.skki-header img{
	width: 650px;
	height: 120px;
	margin-left: 20px;
}

.skki-header table{
	text-align: center;
	width: 100%;
	letter-spacing: 1px;
	font-family: Arial;
	line-height: 14px
}

.skki-header table tr:last-child td{
	font-size: 11px;
}

.skki-content{
	width: 100%;
	font-family: arial;
	font-size: 11pt;
	float: left;
}

.skki-content h3{
	text-align: center;
	margin: 0;
	margin-top: 10px
}

.skki-content h6{
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	margin:0;
	font-size: 11pt;
	margin-top: 10px;
	margin-bottom: 20px;
}

.skki-content p{
	width: 650px;
	line-height: 25px;
	margin-left: 10px;
	text-align: justify;
}

.skki-content table{
	line-height: 25px;
	width: 100%;
	margin-left: 10px

}


table.dot-skki tr td:nth-child(even){
	width: 500px;
	border-bottom: 1px dotted #000;
}

.block3x4{
	width: 113.38582677px;
	height: 141.18110236px;
	border: 1px solid #000;
	font-size: 11px;
	text-align: center;
	line-height: 20px;
	padding-top: 10px;
	margin-left: 30px;
}

.blockmaterai{
	width: 120px;
	height: 50px;
	border: 1px solid #000;
	line-height: 50px;
	text-align: center;
}

.tbl-siswa{
	width: 600px
}
.tbl-siswa tr td:nth-child(even){
	border-bottom: 1px dotted #000;
}


/*BUKU INDUK SISWA START ============ 08*/
.bis-content{
	font-size: 12pt;
	width: 700px;
}

.bis-content h3,
.bis-content h4{
	text-align: center;

}

.bis-content table{
	width: 100%;
	font-size: 13px;
	text-align: left;
	line-height: 17px;
	margin-bottom: 15px
}
.bis-content table tr td:nth-child(5){
	border-bottom: 1px dotted #000;

}
.dot-me{
	border-bottom: 1px dotted #000;
}

.tbl-jasmani{
	width: 600px;
	border-collapse: collapse;
	border: 1px solid #000;
	float: left;
	margin-left: 30px;
}

.tbl-jasmani tr, .tbl-jasmani td{
	border: 1px solid #000;	
}


/*======================================== 09 PENILAIAN START*/

.nilai-content{
	width: 100%;
	height: 100%;
}
.tab-tahunpelajaran{
	border: 1px solid #222;
	float: left;
	width: 14.2%;

}

.tab-nilai{
	border: 1px solid #000;
	float: left;
	width: 10.7%;
	margin-left: -2px;
}

.tab-nilai table,.tab-tahunpelajaran table{
	width: 100%;
	font-size: 9px;
	border-collapse: collapse;
}

.tab-nilai table tr:nth-child(4){
	font-size: 7px
}

.tab-nilai table tr,.tab-nilai table td,.tab-nilai table th,
.tab-tahunpelajaran table tr,.tab-tahunpelajaran table td,.tab-tahunpelajaran table th{
	border: 1px solid #000;
	line-height: 14px;
}


/*prestasi belajar*/

h3.top-title{
	margin:0;
	font-size: 14px
}

.prestasi-content{
	width: 100%;
	height: 100%;
	/*background: #dadada*/
}
.tbl-prestasi-left{
	border-collapse: collapse;
	border: 2px solid #000;
	width: 20%;
	float: left;
}

.tbl-prestasi-left tr,.tbl-prestasi-left td,.prestasi-semester tr,.prestasi-semester td,
.prestasi-ijazah tr,.prestasi-ijazah td{
	border:1px solid #000;
	font-size: 11px;
	line-height: 18px
}

.prestasi-semester{
	width: 10%;
	margin-left: -2px;
	border-collapse: collapse;
	border: 2px solid #000;
	float: left;
	text-align: center;
}

.prestasi-ijazah{
	width: 9%;
	margin-left: -2px;
	border-collapse: collapse;
	border: 2px solid #000;
	float: left;
	text-align: center;
}

.prestasi-foot{
	font-size: 12px;
	width: 100%;
	margin-top: 20px;
	float: left;
}