#page-blocker{
	width: 100%;
	height: 100%;
	background-color: #000;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.7;
	display: none;
}

/* BEGIN Pop-up Showing Adding Form */
	.pop-up-form{
		width: 200px;
		height: 200px;
		background-color: #EDEDED;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		z-index: 1;
		border-radius: 5px;
		border: 1px solid #C9C9C9;
		box-shadow: 0px 0px 10px #4C4C4C;
		padding-bottom: 10px;
		display: none;
	}
	.pop-up-form-add{
		width: 200px;
		height: 200px;
		background-color: #EDEDED;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		z-index: 1;
		border-radius: 5px;
		border: 1px solid #C9C9C9;
		box-shadow: 0px 0px 10px #4C4C4C;
		padding-bottom: 10px;
		display: none;
	}

	.pop-style{
		width: auto;
		height: auto;
		padding-left: 10px;
		padding-right: 10px;
		
	}

	.pop-style-title{
		/*width: 300px;*/
		height: 30px;
		font-family: CGFont;
		font-size: 16px;
		color: #e44404;
		margin-top: 5px;
		float: left;
		text-align: center;
	}

	.pop-style-close{
		width: 20px;
		height: 20px;
		background: url('../image/ico-close.png')no-repeat;
		background-size: 20px 20px;
		border-radius: 50%;
		cursor: pointer;
		float: right;
		margin-top: 5px;
	}

	.pop-content{
		width: 100%;
		height: auto;
		/*background: red;*/
		float: left;
		margin-top: 10px;
		font-family: CGFont;
		font-size: 10pt;
	}

	.pop-content table{
		font-family: CGFont;
		font-size: 13px;
		line-height: 25px;
	}

	.pop-content table input[type=text]{
		border: 1px solid #888888;
		padding: 3px;
	}

	.pop-content table select{
		border: 1px solid #888888;
		height: 22px;

	}

	.pop-content fieldset{
		border: 1px solid #888888;
		border-radius: 5px;
		/*width: 550px;*/
		/*margin: 10px;*/
	}

	.pop-content legend{
		font-family: CGFont;
		font-size: 13px
	}
/* END Pop-up Showing Adding Form */

/* BEGIN Pop-up Showing Operation Guide of Attempt examination */
	.pop-up-info{
		width: 1200px;
		height: 600px;
		background: #fff;
		box-shadow: 0px 0px 3px #000;
		position: absolute;
		margin: auto;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		z-index: 7;
		display: none;
		border-radius: 4px;
	}

	.blocker-info{
		width: 100%;
		height: 100%;
		position: absolute;
		margin: auto;
		top: 0px;
		background-color: #000;
		opacity: 0.7;
		display: none;
		z-index: 6;
	}
	.pop-head{
		width: 100%;
		float: left;
		/*background: red;*/
		height: 30px;
		border-bottom: 1px solid #a4a4a4	
	}


	.pop-head-info{
		width: 100%;
		height: 40px;
		float: left;
		border-top-right-radius: 3px;
		border-top-left-radius: 3px;
		background: #007cbc;
		font-family: CGFontB;
		text-transform: uppercase;
		color: #f6f6f6;
		font-size: 20px;
		line-height: 40px;
		text-align: center;
		/*border-bottom: 1px solid #222;*/
	}

	.pop-main-info{
		width: 100%;
		height: 510px;
		background-color: #DDDDDD;
		float: left;
	}

	.guide-image{
		width: 924px;
		height: 510px;
		background-color: #fff;
		float: left;
		text-align: center;
	}

	.guide-image img{	
		margin-left: 2px;
		margin-top: 25px;
	}

	.guide-legend h2{
		width: 100%;
		font-family: CGFont;
		 float: left;
	    margin-left: 20px;
	    width: auto;
	}

	.pop-main-info ol{
		padding: 0px;
		margin: 0px;
		width: 218px;
		font-family: CGFont;
		font-size: 12px;
		/*margin-top: 20px;*/
		float: left;
		height: 454px;
		/*padding-top: 20px;*/
		padding-left: 15px;
	}

	.pop-main-info ol li{
		margin-bottom: 10px;
		width: 208px;
		margin-left: 20px;
		font-family: CGFontB;
		color: #222;
		font-size: 13px;
		padding-left: 6px;
		line-height: 20px;
	}

	.pop-bottom-info{
		width: 100%;
		height: 50px;
		background-color: #E7E7E7;
		float: left;
		font-family: CGFont;
		font-size: 12px;
		border-top: 1px solid #909090;
	}

	.pop-bottom-info table{
		/*float: right;*/
		margin-left: 10px;
		margin-top: 10px;
	}

	.pop-bottom-info input[type=checkbox]{
		box-shadow: 0px 0px 5px  #a50000;
	}
/* END Pop-up Showing Operation Guide of Attempt examination */